<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.e_mobadara.audiomanaging">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:sharedUserId="com.e-mobadara.audiomanaging"
        android:supportsRtl="true"

        android:theme="@style/AppTheme"
        tools:replace="theme">
        <activity android:name=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.e_mobadara.audiomanaging.AudioSettingsActivity" />
        </activity>
        <activity android:name=".addAudioFile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.e_mobadara.audiomanaging.MainActivity" />
        </activity>
        <activity android:name=".AudioSettingsActivity">
        </activity>
        <activity android:name=".ExportImportActivity" />

        <activity android:name="net.rdrei.android.dirchooser.DirectoryChooserActivity" />
        <activity android:name=".chooseImportOrExportActivity" />
        <activity android:name=".localyImportActivity" />
        <activity android:name=".localyExportActivity" />
    </application>

</manifest>